.background {
  width: 100%;
  height: 100vh;
  /* background-color: yellow; */
}
.nav {
  width: 100%;
  height: 10%;
  background-color: rgba(11, 29, 94, 1);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: 700;
}
.body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  margin: 2% 0% 2% 0%;
}
.mininav {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* align-content: center; */
  /* flex-direction: column; */
  width: 200px;
  padding: 3%;
  /* margin-top: 2%; */
  border-right: 2px solid gray;
}
.content1 {
  padding: 5% 0% 20% 0%;
}
.content {
  padding: 5% 0% 20% 0%;
  font-weight: normal;
  transition: font-weight ease-in-out;
}
.content:hover {
  font-weight: bold;
}
.area {
  padding: 5%;
  width: 70vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
.a {
  display: flex;
  flex-direction: row;
  padding: 5%;
  /* background-color: red; */
}
.img {
  padding-right: 5%;
}
.b {
  display: flex;
  flex-direction: row;
  /* align-items: bottom; */
  /* align-content: bottom; */
  width: 100%;
  height: 50%;
  /* background-color: green; */
}
.b0 {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: blue; */
  padding: 2%;
  /* justify-content: center; */
}
.c {
  display: flex;
  justify-content: center;
  align-items: left;
  align-content: center;
  flex-direction: column;
  width: 20%;
}
.c1 {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  width: 80%;
}
.d {
  display: flex;
  flex-direction: row;
}
.e {
  display: flex;
  justify-content: right;
}
.btn {
  width: 100px;
  background-color: rgba(255, 204, 77, 1);
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 5px;
  font-weight: 600;
  font-size: 0.8em;
  transition: background-color ease-in-out;
}
.btn:hover {
  background-color: rgba(253, 185, 15, 1);
}
.f {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 2px red solid; */
  justify-content: center;
  align-items: center;
  align-content: center;
  font-size: 1em;
}
.g {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.g1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-bottom: 5px;
  /* align-items: left; */
  /* align-content: left; */
}
.g2 {
  width: 250px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: right; */
  /* align-content: right; */
  text-align: right;
  /* font-size: 0.9em; */
}

.empty {
  width: 120px;
  height: 1em;
  background-color: white;
}

.h{
  width: 90%;
  display: flex;
  justify-content: right;
  margin-top: 50px;
  /* border: red 2px solid; */
}
.h1{
  /* width: 80%; */
  display: flex;
  justify-content: right;
  padding: 1% 4% 1% 4%;
  border: red 2px solid;
}

/* 모달부분 */
.container {
  width: 100%;
  z-index: 3;
}
.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  z-index: 4;
}

.modal {
  padding: 2% 2% 2% 2%;
  position: fixed;
  z-index: 5;
  width: 50%;
  height: 60%;
  background-color: white;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: lightgray 2px solid;
}
.modalin {
  width: 90%;
  height: 80%;
  padding: 5%;
  font-weight: 600;
  /* border: red 2px solid; */
}
.x {
  justify-content: right;
  display: flex;
  font-size: 1.2rem;
  width: 80%;
  /* margin: 5%; */
}
.centre {
  display: flex;
  justify-content: center;
}
