.body {
  position: fixed;
  top: 0;
  display: flex;
  /* opacity: 75%; */
  z-index: 3;
  justify-content: center;
  padding: 1%;
  width: 98%;
  height: 5%;
  background-color: rgba(68, 68, 68, 1);
  font-size: 1em;
}

.contentbox {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 1% 1% 1% 1%; */
}
.block1 {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1% 2%;
}
.blockimg {
  width: 10%;
  padding-right: 100px;
  cursor: pointer;
}

.img {
  width: 150px;
}

.block {
  width: 10%;
  color: white;
  font-size: 0.9em;
  transition: font-weight ease-in-out;
  cursor: pointer;
}
.block:hover {
  font-weight: bold;
}

.blocklogout {
  align-content: flex-end;
  align-items: flex-end;
  color: white;
  font-size: 0.8em;
  position: relative;

  /* display: flex; */
}
.searchbox {
  width: 250px;
  padding: 4%;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
}
.searchbox::placeholder {
  font-size: 12px;
}
.icon {
  padding-top: 3%;
  background-color: none;
  position: absolute;
  cursor: pointer;
  /* width: 5%;  */
  top: 0;
  right: 0;
}

input:focus::placeholder {
  opacity: 0;
}

/*  */

.container {
  width: 100%;
  z-index: 3;
}
.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  z-index: 4;
}

.modal {
  padding: 1% 1% 3% 2%;
  position: fixed;
  z-index: 5;
  width: 40%;
  height: 45%;
  background-color: white;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: lightgray 2px solid;
}
.modalin {
  width: 90%;
  height: 80%;
  padding: 5%;
  font-weight: 600;
  /* border: red 2px solid; */
}
.x {
  justify-content: right;
  display: flex;
  font-size: 1.2rem;
  width: 80%;
  /* margin: 5%; */
}
.centre {
  display: flex;
  justify-content: center;
}

/* 모달 네브꺼 */
.modaltext {
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.modaltext1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
  /* margin: auto; */
}
.carimage {
  width: 150px;
}

.contenttext {
  /* border: 2px solid red; */
  width: 250px;
}
.name {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 3px;
  display: flex;
  border-bottom: 2px solid lightgrey;
}
.texts {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 5px;
}

.else {
  margin-top: 6%;
  align-items: left;
  align-content: left;
  width: 70%;
  height: 20%;
  /* position: relative; */

  font-size: 1em;
  /* background-color: red; */
}
.else2 {
  overflow: auto;
  max-height: 70%;
  width: 100%;

}
.else2::-webkit-scrollbar {
  width: 12px;
  height: 10px;
}

.else2::-webkit-scrollbar-thumb {
  background-color: black;
}

.else2::-webkit-scrollbar-track {
  background-color: white
}
.else1 {
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  transition: font-weight ease-in-out;
  cursor: pointer;
  /* font-size: auto; */
  /* background-color: green; */
  /* height: auto; */
}
.else1:hover {
  font-weight: bold;
}
