.body {
  width: 100%;
  /* height: 100vh; */
  /* padding: 20px; */
}
.background {
  width: 100%;
  height: 100vh;
  /* background-color: yellow; */
}
.list {
  height: 100px;
  width: 70%;
  background-color: white;
  /* border: 2px red solid; */
  margin: 5% 15%;
}
.detailcon {
  /* margin: 8%; */
  width: 20px;
  justify-content: center;
  align-content: center;
  align-items: center;
  display: flex;
}
.mininav {
  display: flex;
  flex-direction: row;
  background-color: lightgray;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 2%;
}
.calendar {
  position: relative;
  width: 200px;
  /* border-color: red ; */
  padding: 2% 5% 2% 4%;
  margin-right: 50px;
}
.calendarimg {
  position: absolute;
  margin-left: 240px;
  margin-top: 5px;
}

.container {
  width: 100%;
  /* height: 100vh; */
  z-index: 3;
}

.back {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 50%;
  z-index: 4;
}

.modal {
  padding: 1%;
  position: absolute;
  z-index: 5;
  width: 50%;
  height: 50%;
  background-color: white;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modaltext {
  margin-bottom: 1%;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
}
.size1 {
  height: 50%;
  width: 20%;
}

.in {
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  width: 90%;
  height: 100%;
  /* justify-content: space-between; */
}
.x {
  justify-content: right;
  display: flex;
  font-size: 1.2rem;
  width: 80%;
  /* margin: 5%; */
}
.carimage {
  width: 150px;
}
.modaltext1 {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
  margin: auto;
}

.contenttext {
  /* border: 2px solid red; */
  width: 200px;
}
.name {
  font-size: 0.7em;
  font-weight: 600;
  margin-bottom: 3px;
  display: flex;
}
.texts {
  font-size: 0.6em;
  font-weight: 500;
  margin-bottom: 5px;
}
.button {
  background-color: rgba(252, 234, 43, 1);
  width: 80%;
  margin: 5% 0 0 0;
  padding: 2%;
  border-radius: 20px;
  font-size: 0.7em;
}
.else {
  margin-top: 10%;
  align-items: left;
  align-content: left;
  width: 70%;
  font-size: 0.8em;
}
.else1 {
  display: flex;
  flex-direction: row;
}

.loca {
  background-color: white;
  border: 1px solid gray;
  padding: 2% 7% 2% 7%;
  align-items: center;
  align-content: center;
  width: 200px;
  color: gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.localist {
  width: 200px;
  margin-right:30px ;
}
.btn{
  width: 80px;
  background-color: rgba(107, 106, 106, 1);
  color: white;
  align-items: center;
  align-content: center;
  justify-content: center;
  display: flex;
  font-size: 0.8em;
  margin-left: 10px;

}
.excelside{
  display: flex;
  flex-direction: row;
  align-content: right;
  align-items: right;
  justify-content: right;
}
.excel{
  background-color:rgba(107, 106, 106, 1) ;
  width: 140px;
  color: white;
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.count{
  font-size: 0.2em;

}